@{
    ViewData["Title"] = "Promoção";
}
  
    <section class="section_cards">
            <div class="cards">
                <div class="card-promo">
                    <img class="img-promo" src="../img/img1.jpg" alt="Marco Zero do Recife">
                    <p>Promoção Recife</p>
                    <p>Hotel incluso</p>
                    <p>Pacote Turistico</p>
                    <p>Preço R$ ###,##</p>
                    <div class="btns-promo">
                        <button class="btn-promo">Comprar</button>
                    </div>
                </div>
                <div class="card-promo">
                    <img class="img-promo" src="../img/img2.jpg" alt="Cristo Redentor Rio de Janeiro">
                    <p>Promoção Rio de Janeiro</p>
                    <p>Hotel incluso</p>
                    <p>Pacote Turistico</p>
                    <p>Preço R$ ###,##</p>
                    <div class="btns-promo">
                        <button class="btn-promo">Comprar</button>
                    </div>
                </div>
                <div class="card-promo">
                    <img class="img-promo" src="../img/img3.jpg" alt="Ponte Octávio Frias de Oliveira São Paulo">
                    <p>Promoção São Paulo</p>
                    <p>Hotel incluso</p>
                    <p>Pacote Turistico</p>
                    <p>Preço R$ ###,##</p>
                    <div class="btns-promo">
                        <button class="btn-promo">Comprar</button>
                    </div>
                </div>
                <div class="card-promo">
                    <img class="img-promo" src="../img/img4.jpg" alt="Elevador Lacerda Salavador">
                    <p>Promoção Salavador</p>
                    <p>Hotel incluso</p>
                    <p>Pacote Turistico</p>
                    <p>Preço R$ ###,##</p>
                    <div class="btns-promo">
                        <button class="btn-promo">Comprar</button>
                    </div>
                </div>
               
            </div>
        </section>
    